{% extends "panel/base.html" %}

{% block tab%}Detalle Galeria{% endblock %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sobre nosotros</h1>
        <p class="lead text-muted">Un desarrollo de Martin, Johan y Agustina para CoderHouse</p>
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
      <div style="text-align:center;">
        <img height="225" src="{ 'media/img/los_3.jpg' }" /> 
      </div>
      <div style="padding-top: 2em;">
        <p class="lead text-muted">Grupo de 3 estudiantes del curso de Python de Coderhouse</p>
      </div>
    </div>
  </main>
{% endblock %}




