{% extends "panel/base.html" %}

{% block tab%}Detalle Galeria{% endblock %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{posteo.titulo}}</h1>
        <p class="lead text-muted">{{posteo.descripcion_corta}}</p>
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
      <div style="text-align:center;">
        <img height="225" src="{{ posteo.foto.url }}" /> 
      </div>
      <div style="padding-top: 2em;">
       {{posteo.contenido | safe }}
      </div>
    </div>
  </main>
{% endblock %}